<form (ngSubmit)="save()" *ngIf="form" [formGroup]="form">
  <section class="form-group">
    <label for="fullname">Nombre completo</label>
    <input type="text" class="form-control" id="fullname" aria-describedby="fullname" required
      formControlName="fullname"
    >
  </section>
  <section class="form-group">
    <label for="birth">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="birth" aria-describedby="birth" required
       formControlName="birth"
    >
  </section>
  <section class="form-group">
    <label for="father_id">Padre</label>
    <select name="father_id" id="father_id" class="form-control"
      formControlName="father_id"
    >
      <option [ngValue]="null"> -- Seleccione al padre --</option>
      <option *ngFor="let person of people" [ngValue]="person.id">{{person.fullname}}</option>
    </select>
  </section>
  <section class="form-group">
    <label for="mother_id">Madre</label>
    <select name="mother_id" id="mother_id" class="form-control"
      formControlName="mother_id"
    >
      <option [ngValue]="null"> -- Seleccione a la madre --</option>
      <option *ngFor="let person of people" [ngValue]="person.id">{{person.fullname}}</option>
    </select>
  </section>
  <button type="submit" class="btn btn-primary"
    [disabled]="!form.valid"
  >Guardar</button>
</form>
