<button class="btn btn-outline-danger mb-2 float-left" [routerLink]="['/']">Volver</button>
<h2 class="text-center mb-5">Modificar persona</h2>

<app-form-person *ngIf="person" [personData]="person"></app-form-person>
