<h1>Personas</h1>
<button class="btn btn-outline-success mb-2" [routerLink]="['/crear']">Registrar</button>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Fullname</th>
    <th scope="col">Birth</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of people">
    <th scope="row">{{person.id}}</th>
    <td>{{person.fullname}}</td>
    <td>{{person.birth}}</td>
    <td>
      <button class="btn btn-outline-success"
        (click)="edit(person.id)"
      >Editar</button>
      <button class="btn btn-outline-danger ml-2"
        (click)="delete(person.id)"
      >Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
